/* Colors to use: 
Header-background: #0f766e;
Main-background: #5eead4; Or maybe use a background-image?
Footer-background: #5eead4;

*/

* {
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
}

header {
  background-color: #9a3412;
  color: white;
  height: 7%;

  box-shadow: inset 0px -2px 2px 2px rgba(33, 13, 88, 0.3);

  padding: 0 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 32px;
  text-align: center;
  margin-right: auto;
}

ul {
  list-style-type: none;
  margin-right: 1rem;
  font-size: 32px;

  display: flex;
  gap: 2rem;
}

main {
  height: 86%;
}

main img {
  height: 100%;
  width: 100%;
}

footer {
  background-color: #9a3412;
  color: white;
  height: 7%;

  box-shadow: inset 0px 2px 2px 2px rgba(33, 13, 88, 0.3);

  gap: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  height: 70%;
}
