/* Colors to use: 
Header-background: #0f766e;
Main-background: #5eead4; Or maybe use a background-image?
Footer-background: #5eead4;
*/

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Varela+Round&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  position: relative;
  font-family: "Varela Round", sans-serif;
}

header {
  color: white;
  background: linear-gradient(#000, #652e10);
  height: 4rem;

  box-shadow: inset 0px -2px 2px 2px rgba(33, 13, 88, 0.3);

  padding: 0 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 48px;
  text-align: center;
  margin-right: auto;
  font-weight: 1000;
  font-family: "Dancing Script", cursive;
}

ul {
  list-style-type: none;
  margin-right: 1rem;
  font-size: 36px;

  display: flex;
  gap: 2rem;
  font-family: "Lobster", cursive;
}

.menu-nav-link:hover,
.about-us-nav-link:hover,
.contact-us-nav-link:hover {
  cursor: pointer;
  opacity: 0.7;
  text-decoration: underline dotted;
}

main {
  min-height: calc(100% - 8rem);
  width: 100%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  bottom: 100%;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;

  color: #e5e7eb;
  font-size: 20px;
}

.menuItems {
  background-color: #0f172ab0;
  box-shadow: 3px 3px 2px 2px rgba(255, 255, 255, 0.05);

  padding: 1rem 4rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.menuItems:hover {
  opacity: 0.97;
}

.menuItems img,
.about-us img {
  display: inline-block;
  padding-top: 2rem;
  height: 500px;
  width: 500px;
  opacity: 0.7;

  box-shadow: 3px 3px 2px 2px rgba(255, 255, 255, 0.05);
}

.menuItems h2,
.contact-us div h2,
.about-us div h2 {
  font-size: 36px;
  text-align: center;

  border-bottom: 2px solid #e5e7eb;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  font-family: "Lobster", cursive;
}

.menuItems p {
  text-align: center;
}

.contact-us,
.about-us {
  height: 100%;
  width: 80%;
  margin: 1rem;
  background-color: #0f172ab0;
}

.contact-us > div,
.about-us > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 2rem;
  color: #e5e7eb;
  font-size: 24px;
}

.contact-us span:nth-child(n + 1) {
  font-size: 20px;
  color: #cbd5e1;
}

.contact-us:first-child span.logo-about {
  margin-top: 4rem;
  font-size: 48px;
  font-weight: 1000;
  font-family: "Dancing Script", cursive;
}

.about-us img {
  padding: 0;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 50%;
}

footer {
  background: linear-gradient(#652e10, #000);
  color: white;
  height: 4rem;

  gap: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  color: white;
  height: 3rem;
  transition: 0.3 ease;
}

footer img:hover {
  cursor: pointer;
  scale: 1.05;
}
